{% extends "base.html.twig" %}

{% block title %}
    Page Categorie - {{category.id }}
{% endblock %}

{% block body %}
    <h1 class="mb-4 text-center">Categorie {{category.title}}</h1>
    <div class="row">
            {% for article in category.articles %}
                <div class="card col-md-12 m-2" style="width: 18rem;">
                    <p class="date text-end">Ecrit le {{article.createdAt | date("m/d/Y") }} a {{article.createdAt | date("H:i")}}</p>
                    <img class="card-img-top" src="/assets/blog/images/article/{{ article.image }}" alt="{{ article.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ article.title }}</h5>
                        <a href="{{ path('show', {'id':article.id})}}" class="btn btn-primary">En savoir plus</a>
                        <p class="text-end">Par {{article.author}}</p>
                    </div>
                </div>
            {% endfor %}
      </div>
{% endblock %}